body {
    font-family: Roboto;
    background-image:url("../images/41u3nDmbK8L._AC_.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.fuck {
    font-size: 24px;
}

.header {
    color: rgb(197, 33, 175);
    font-size: 5em;
}

.mother-fucking-text {
    font-weight: 400;
    color: #d314b9;
    font-size: 1em;
}

.just-do-it {
    height: 100px;
}
